In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [12]:
df=pd.read_csv("C:\\Users\\krishna.chaitanya\\Downloads\\Salary Data.csv")

In [13]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [14]:
df.dropna(inplace=True)

In [15]:
X=df.drop(columns=["Salary"],axis=1)
y=df.Salary

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=0)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [18]:
ohe=OneHotEncoder()
ohe.fit(X[['Gender','Education Level','Job Title']])

OneHotEncoder()

In [19]:
ohe.categories

'auto'

In [20]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Gender','Education Level','Job Title']),remainder='passthrough')

In [21]:
lr=LinearRegression()

In [22]:
pipe=make_pipeline(column_trans,lr)

In [23]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Female', 'Male'], dtype=object),
                                                                            array(["Bachelor's", "Master's", 'PhD'], dtype=object),
                                                                            array(['Account Manager', 'Accountant', 'Administrative Assistant',
       'Business Analyst', 'Business Development Manager',
       'Business Intel...
       'Software Project Manager', 'Strategy Consultant',
       'Supply Chain Analyst', 'Supply Chain Manager',
       'Technical Recruiter', 'Technical Support Specialist',
       'Technical Writer', 'Training Specialist', 'UX Designer',
       'UX Researcher', 'VP of Finance', 'VP of Operations',
       'Web Developer'], dtype=object)]),
                                                  ['Gender', 'Education Level',
                                                   'Job Title'])])),
                ('linearregression', LinearRegression())])

In [24]:
y_pred=pipe.predict(X_test)

In [25]:
r2_score(y_test,y_pred)

0.8896571869886857

In [26]:
pickle.dump(pipe, open('ownmodel1.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('ownmodel1.pkl','rb'))